<div>
  <h3>Common information</h3>
  <br>
  <h4>Contract Address: {{cI.contractAddress}}</h4>
  <h4>Contract Balance: {{cI.contractBalance}}</h4>
  <h4>Verifier Plasma Balance: {{cI.verifierPlasmaBalance}}</h4>
  <h4>Verifier Ether Balance: {{cI.verifierEtherBalance}}</h4>
  <h4>Latest Block: {{cI.latestBlock}}</h4>
  <table>
    <tr>
      <th>Block Number</th>
      <th>Tx Number</th>
      <th>Output Number</th>
      <th>Output</th>
    </tr>
    <tr *ngFor="let c of cI.verifierInputs">
      <td>
        {{c.blockNumber}}
      </td>
      <td>
        {{c.txNumber}}
      </td>
      <td>
        {{c.outputNumber}}
      </td>
      <td>
        <label>
          Owner: {{c.output.owner}}
        </label>
        <label>
          Begin: {{c.output.slice.begin}}
        </label>
        <label>
          End: {{c.output.slice.end}}
        </label>

        <!--<table>-->
          <!--<tr>-->
            <!--<th>-->
              <!--Owner-->
            <!--</th>-->
            <!--<th>-->
              <!--Slice-->
            <!--</th>-->
          <!--</tr>-->
          <!--<tr *ngFor="let d of c.output">-->
            <!--<td>{{d.owner}}</td>-->
            <!--&lt;!&ndash;<td>{{d.slice}}</td>&ndash;&gt;-->
          <!--</tr>-->
        <!--</table>-->
      </td>

    </tr>
  </table>
</div>
