@media screen and (max-width: 764px) {
    .last-card {
        margin-top: 65px;
    }
}
.table-responsive {
    max-height: 500px !important;
    overflow-y: scroll;
}
.header {
    color: #0b6c17;
}